<%
  countries_list = Person::COUNTRIES
  privileges_list = UserStatus.privileges_list.map &:text_key
  privileges_list.map!{|name| [UserStatus.privilege_key_to_text(name), name]}
%>

<div id="user_privileges_list">
  <%= content_tag :label, User.human_attribute_name(:privileges) %>

  <div data-privs-list>
    <% if user.status.privileges %>
        <% user.status.privileges.reject{|p| p.name == :super}.each do |privilege| %>
            <%= render partial: 'privilege_row', locals: {
                name: privilege.text_key, country: privilege.country,
                countries_list: countries_list, names_list: privileges_list
            } %>
        <% end %>
    <% end %>
  </div>

  <div class="form-group">
    <div class="row">
      <div class="col-xs-2">
        <button type="button" class="btn btn-default" data-action="add">
          Add privilege
        </button>
      </div>
    </div>
  </div>

  <script type="text/html" charset="utf-8" data-privilege-template>
    <%= render partial: 'privilege_row', locals: {countries_list: countries_list, names_list: privileges_list} %>
  </script>

  <script type="text/javascript" charset="utf-8">
      $(function () {
          'use strict';
          var $container = $('#user_privileges_list');
          var $list = $container.find('[data-privs-list]');
          var $row = $container.find('[data-privilege-template]');

          $container.on('click', 'button[data-action=add]', function () {
              $list.append($row.text());
          });

          $container.on('click', 'button[data-action=remove]', function () {
              $(this).closest('[data-privilege-row]').remove();
          });
      });
  </script>
</div>