<% country = local_assigns[:country] || nil %>
<% name = local_assigns[:name] || nil %>

<div class="form-group" data-privilege-row>
  <div class="row">

    <div class="col-xs-5">
      <%= select_tag 'user[privileges][country][]',
          options_for_select(countries_list, country), class: 'form-control' %>
    </div>

    <div class="col-xs-5">
      <%= select_tag 'user[privileges][name][]',
          options_for_select(names_list, name), class: 'form-control' %>
    </div>

    <div class="col-xs-2">
      <button type="button" class="btn btn-danger" data-action="remove">
        Remove
      </button>
    </div>

  </div>
</div>