$border-color: black;
//$border-color2: #6d3291;
$border-color2: #4a207e;
$bg-color: #eee6ff;
$bg-selected: #d5c3fc;

$border: 5;

@function px($_size) {
  @return #{$_size}px;
}

@mixin no-select () {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  align-items: center;
  //justify-content: center;
  background-color: #717171;
  overflow-y: scroll;
}

#admission-visualisation {
  flex: 0 0;
  max-width: 100%;
  max-height: 100%;

  .splash-message {
    padding: px(2 * $border);
    background-color: $bg-color;
    margin: px(10 * $border) 0;
  }

  .admission-app-container {
    background-color: $bg-color;
    margin: px(10 * $border) 0;
  }

  .panels-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;

    > li {
      margin: px($border);
      margin-left: 0;
      padding: px(2 * $border);
      border: 2px solid $border-color;
      cursor: pointer;
      font-weight: bold;
      &:first-of-type { margin-left: px($border); }

      &.active {
        background-color: $bg-selected;
        border-style: solid;
        color: $border-color2;
      }
      &:hover {
        background-color: $bg-selected;
      }
    }
  }

  .panel {
    padding: px($border);
  }

}

.flex-column {
  display: flex;
  flex-direction: column;
}

.input_text {
  padding: px($border);
  margin: 0;
  outline: none;
  border: 1px solid $border-color;
  border-radius: 0;
  background-color: white;
  &:active {
    border: 1px solid $border-color;
    outline: none;
  }
}

.check_box {
  display: inline-block;
  padding: px($border);
  border: 1px solid $border-color;
  background-color: white;
  &.checked { background-color: $bg-selected; }
  &:hover { cursor: pointer }
}

.button {
  display: inline-block;
  padding: px($border);
  margin: 0;
  border: 1px solid $border-color;
  border-radius: 0;
  background-color: white;
  &:hover {
    background-color: $bg-selected;
    cursor: pointer;
  }

  &.small {
    font-size: 80%;
    padding: px($border / 2);
  }
}

.select_box {
  > ._inputs {
    display: flex;
    > input {
      flex: 1 1;
      border-right: none;
      max-width: px(100);
    }
    > button {
      border-left: none;
    }
  }

  > ._dropdown {
    position: relative;
    > ul {
      z-index: 1;
      background-color: white;
      position: absolute;
      width: 100%;
      border: 1px solid $border-color;
      border-top: none;
      list-style-type: none;
      margin: 0;
      padding: 0;
      > li {
        @include no-select();
        padding: px($border);
        border: 1px solid transparent;
        &.selected {
          background-color: $border-color2;
          color: white;
        }
        &:hover {
          background-color: $bg-selected;
          color: inherit;
        }
      }
    }
  }

}

.controls {
  > .controls-group {
    margin-left: px($border);
    border-left: 1px solid $border-color;
    padding-left: px($border);

    &:first-child {
      margin-left: 0;
      border-left: none;
      padding-left: 0;
    }
  }
}

.controls-group {
  display: inline-block;
  margin: px($border) 0;
  > * {
    display: inline-block;
    margin-left: px($border);
    &:first-child { margin-left: 0; }
  }
}

.nested-list {
  $_color: black;

  width: 500px;
  padding: px($border) 0 0 0;
  list-style-type: none;
  margin: 0 0 0 px($border);
  z-index: 0;

  .nested-list-content {
    display: inline-block;
    .icon {
      margin-left: px($border);
    }
    .content {
      margin-left: px($border);
    }
  }

  position: relative;
  &:before {
    content: '';
    position: absolute;
    display: block;
    width: 0;
    top: 0;
    bottom: 0;
    left: 0;
    border-left: 1px solid $_color;
  }

  > li {
    padding-left: px(3*$border);
    line-height: 1.5em;

    position: relative;
    &:before {
      content: '';
      position: absolute;
      display: block;
      width: px(3*$border);
      height: 0;
      margin-top: px(1);
      top: 0.75em;
      left: 0;
      border-top: 1px solid $_color;
    }
    &:last-child:before {
      background-color: $bg-color;
      height: auto;
      top: 0.75em;
      bottom: 0;
    }
  }

}