$border-color: black;
$border-color2: #6d3291;
$bg-color: #e8daff;
$bg-color2: #c6a6ff;

$border: 5;

@function px($_size) {
  @return #{$_size}px;
}

@mixin no-select () {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  align-items: center;
  //justify-content: center;
  background-color: #717171;
  overflow-y: scroll;
}

#admission-visualisation {
  flex: 0 0;
  max-width: 100%;
  max-height: 100%;

  .splash-message {
    padding: px(2 * $border);
    background-color: $bg-color;
    margin: px(10 * $border) 0;
  }

  .admission-app-container {
    background-color: $bg-color;
    margin: px(10 * $border) 0;
  }

  .panels-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;

    > li {
      margin: px($border);
      margin-left: 0;
      padding: px(2 * $border);
      border: 3px outset $border-color;
      cursor: pointer;
      font-weight: bold;
      &:first-of-type { margin-left: px($border); }

      &.active {
        border-color: $border-color2;
        border-style: inset;
        color: $border-color2;
      }
    }
  }

  .panel {
    padding: px($border);
  }

}

.flex-column {
  display: flex;
  flex-direction: column;
}

.input_text {
  padding: px($border);
  margin: 0;
  outline: none;
  border: 1px solid $border-color;
  border-radius: 0;
  background-color: white;
  &:active {
    border: 1px solid $border-color;
    outline: none;
  }
}

.button {
  display: inline-block;
  padding: px($border);
  margin: 0;
  border: 1px solid $border-color;
  border-radius: 0;
  background-color: white;
  &:hover {
    background-color: $bg-color2;
    color: $border-color2;
    border-color: $border-color2;
    cursor: pointer;
  }

  &.small {
    font-size: 80%;
    padding: px($border / 2);
  }
}

.controls-select {
  > ._inputs {
    display: flex;
    > input {
      flex: 1 1;
      border-right: none;
      max-width: px(100);
    }
    > button {
      border-left: none;
    }
  }

  > ._dropdown {
    position: relative;
    > ul {
      background-color: white;
      position: absolute;
      width: 100%;
      border: 1px solid $border-color;
      border-top: none;
      list-style-type: none;
      margin: 0;
      padding: 0;
      > li {
        @include no-select();
        padding: px($border);
        border: 1px solid transparent;
        &.selected {
          background-color: $border-color2;
          color: white;
        }
        &:hover {
          background-color: $bg-color;
          color: inherit;
        }
      }
    }
  }

}

.controls-row {
  > * {
    display: inline-block;
    margin-left: px($border);
    &:first-child { margin-left: 0; }
  }
}

.nested-list {
  width: 500px;
  padding-top: px($border);

  .nested-list-row {
    padding-top: px($border);
    line-height: px(25);

    .list-row-tab {
      display: inline-block;
      width: px(4 * $border);
    }

    .list-row-content {
      display: inline-block;
      margin-left: px(2 * $border);
    }


  }

}